body{
  background-color: grey;
  font-family: Inter;
}

#root{
  display: flex;
  justify-content: center;
}

.card{    
  border-radius: 15px;
  width: 30%;
  max-width: 600px;
  min-width: 300px;
  background-color: #1a1b21;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pic{
  width: 100%;  
  border-radius: 15px 15px 0px 0px;
  display: block;
}

.my-name{
  margin-bottom: 0;
}

.titel{
  margin-top: 1%;
  font-weight: 300;
  color: #c07b50;
}

.buttons {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;    
}

.button{
  width: 7.5rem;
  height: 2.3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight:600;
  border: none;
}
#linked-button{
  background-color: #5093e2;
  color: blanchedalmond;
}

.info-div{
  padding: 8%;
}

.info-div section h2{
  margin: 0%;
}
.info-div section p{
  margin-top: 1%;
  font-weight:200;
}

footer{
  background-color:  #09090a;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 0px 0px 15px 15px;
  display: flex;  
  justify-content: center;
  gap: 5%;
  font-size: 2.5rem;
  color: grey;
  
  
}

